@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

:root {
  --PrimaryColor: rgb(70, 5, 70);
  --PrimaryLight: rgb(185, 155, 185);
  --HoverColor: rgb(131, 131, 153);
  --blackColor:rgb(15, 6, 6);
  --textColor: hsl(155, 38%, 41%);
}

.icon{
  font-size: 2em;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3em;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

h1{
  font-size: 3.5em;
}

h2{
  font-size: 2em;
}